@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .bg-grayscale {
        @apply bg-gradient-to-tl from-base-300 to-base-content/75;
    }
}

@layer components {
    .card {
        @apply shadow-lg;
    }

    .btn {
        @apply rounded-xl;
    }

    .input {
        @apply rounded-xl;
    }

    .menu a,
    .menu li {
        @apply !rounded-xl;
    }

    /* .glass { */
    /*     @apply ring-0 hover:ring-0; */
    /* } */
    .glass {
        @apply !backdrop-filter-none;
    }
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    padding-bottom: env(safe-area-inset-bottom); /* ios */
}

body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background-image: url("/mesh-gradient.webp"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.glow::before {
    @apply bg-info;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(.667em) rotateX(40deg) scale(1, 0.25);
    filter: blur(1em);
}
